*, *::before, *::after {
  box-sizing: border-box;  
}

html {
  font-family: 'Inter', sans-serif;
  color: #293264;
  margin: 0;
   
}

body {
  width: 100%;
  background-color: #F5F7FB;
  margin: 0;
}

/* =======TYPOGRAPHY======== 
============================*/

.intro-page-title,
.question-card-title{
  font-family: 'Karla', sans-serif;
}

.intro-page-title,
.quiz-score {font-weight: 700;}

.intro-page-title{margin: 0;}

.intro-page-desc {font-weight: 400;}
.choice,.intro-page-btn {font-weight: 500;}

.quiz-btn{font-weight: 600;}


/*============ LAYOUT============ 
===============================*/

main {
  max-width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;

}

.intro-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.intro-page-desc {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em
  
}

/* .intro-page-btn {
  
} */

.question-card {
  background-color: #F5F7FB;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* box-shadow:0 3px 10px #2df5379e; */
  margin: 1em 50px;
  padding: 1em;
  z-index: 5;
}

.choices-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.choice {
  margin: 0.2em;
  border-radius: 17px;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  border-color: #4D5B9E;
}

.quiz-end-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  
}

.quiz-btn{
  margin: 2em auto;
  
}




/* MODIFIERS */

.blue-accent {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 1em 3em;
  border-radius: 50px;
  border: none;
  font-family: "Inter";
  cursor: pointer;
}



/* =========== LARGER SCREENS ============
==================================== */

@media (min-width:750px) {
  
  main {
    max-width: 900px;
  }

  .choices-container{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-evenly;
  }

  .choice {
    margin-right: 1em;
    padding: 0.8em 1em;
  }

  .question-card{
    padding: 1em 2em;
  }

  .blue-accent {
    font-size: 1.3rem;
  }

  /* TYPOGRAPHY LARGER SCREENS */
  .intro-page-title{
    font-size: 3rem;
  }

  .intro-page-desc{
    font-size: larger;
  }
  .question-card-title{
    font-size: 1.5rem;
  }
  .choice{
    font-size: 1rem;
  }

  .quiz-score{
    font-size: 1.5rem;
  }

}


@media (min-width: 1000px) {

  main{
    max-width: 90%;
  }

  .choices-container{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .choice{margin-right: 2em;}
}


/* ==========ANIMATIONS========== */

/* Button */

.blue-accent:hover,
.blue-accent:focus{
  scale: 1.05;
  transition-duration: 0.3s;
}

  
.blue-accent:active{
  scale: 1;
  background-color: #293264;
}


/* Loading Screen */

.loading-bg{
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 70px;
  position: relative;
}

.loading-bg-masker{
  background-color: #fff;
  position: absolute;
}

.loading-choices{
  border-radius: 20px;
  float: left;
  padding: 1em 3em;
  margin: 20px 20px 20px 0;
  background-color: #eee;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}


/* .yellow-blob{
  position: fixed;
  top: -290px;
  right: -150px;
  z-index: -1;
}

.blue-blob{
  position: fixed;
  bottom: -200px;
  left: -120px;
  z-index: -1;
} */

.shape-blob{
  background:#DEEBF8;
	height: 200px;
	width: 200px;
	border-radius: 30% 50% 20% 40%;
  animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 70%;
	top: 50%;
  z-index: -3;
}

.one{
  height: 500px;
	width: 500px;
	left: -200px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both 
  alternate, movement_two 60s ease-in-out infinite both;
}

.two{
  height: 350px;
	width: 350px;
	left: 500px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both 
  alternate, movement_two 60s ease-in-out infinite both;
}

.three{
  height: 150px;
	width: 150px;
	left: 500px;
	top: -150px;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both 
  alternate, movement_three 60s ease-in-out infinite both;
}



@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}

@keyframes movement_three 
{
  0%,
  200% { transform: none; }
  50% { transform: translate(50%, 20%) rotate(50deg) scale(1.2);}
}

